<div class="container">
	<div class="jumbotron contact_header">	
		<h1 class="text-center" id="contact_title">Contact NEI</h1>
		<p class="text-center" id="contact_sub">Get in touch with us</p>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-1 text-center">
			<%= image_tag("email.png", alt:"Email") %>
			<a href="mailto:nei@ncbfaa.org?Subject=Troops%20To%20Trade"><p class="offset_contact"><u>Email</u></p>
			<p class="offset_contact">nei@ncbfaa.org</p></a>
		</div>
		<div class="col-md-2 col-md-offset-2 text-center">
			<%= image_tag("phone.png", alt:"Phone") %>
			<a><p class="offset_contact"><u>Phone</u></p>
			<p class="offset_contact">(202) 466-0222</p></a>
		</div>
		<div class="col-md-2 col-md-offset-2 text-center">
			<%= image_tag("Facebook.png", alt:"Facebook") %>
			<a href="https://www.facebook.com/ncbfaa.ei/"><p class="offset_contact"><u>Facebook</u></p>
			<p class="offset_contact">Add Us</p></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-3 text-center">
			<%= image_tag("twitter.png", alt:"Twitter") %>
			<a href="https://twitter.com/ncbfaa_ei"><p class="offset_contact"><u>Twitter</u></p>
			<p class="offset_contact">Follow Us</p></a>
		</div>
		<div class="col-md-2 col-md-offset-2 text-center">
			<%= image_tag("youtube.png", alt:"Youtube") %>
			<a href="https://www.youtube.com/user/NCBFAAEI"><p class="offset_contact"><u>Youtube</u></p>
			<p class="offset_contact">View Webinars</p></a>
		</div>
	</div>	
</div>
<div class="container text-center map_contact">
	<div class="row">
		<div class="col-md-12 text-center">
			<p><u>FIND US</u></p>
		</div>
	</div>
	<%= image_tag("map_contact.png", alt:"Map") %>
</div>