<div class="table-padding">		
		<h1>Candidate Database</h1>
		<div class="table-responsive soft-border">
			<table class="table table-striped">
				<tr>
					<th>Last Name, First Name</th>
					<th>Email</th>
					<th>City</th>
					<th>State</th>
					<th>Zip</th>
					<th>Phone Number</th>
					<th>Highest Education</th>
					<th>NEI Certificate</th>
					<th>Military Status</th>
					<th>Desired Field Of Work</th>
					<th>Desired Salary</th>
					<th>Contact?</th>

				</tr>
					<tr><% @user.each do |user| %></tr>
						<td><%= user.lastname %>, <%= user.name %></td>
						<td><%= user.email %></td>
						<td><%= user.city %></td>
						<td><%= user.state %></td>
						<td><%= user.zip %></td>
						<td><%= user.phone %></td>
						<td><%= user.highesteducation %></td>
						<td><%= user.neicertification %></td>
						<td><%= user.militarystatus %></td>
						<td><%= user.desiredfieldofwork %></td>
						<td><%= user.desiredsalary %></td>
						<td><%= user.contact %></td>
					<% end %>
			</table>
		</div>
		
		
		<%= page_entries_info @user %>
</div>