<div class="container">
	<h2><%= @job.title %></h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p><strong>Description:</strong> <%= @job.description %></p>
				<p><strong>Company:</strong> <%= @job.org.company %></p>
				<p><strong>Link:</strong> <%= link_to @job.url %></p>
				<p>Submitted <%= time_ago_in_words(@job.created_at) %> ago</p>
			</div>
		</div>
		<ul class="list-unstyled list-inline">
		<li><%= link_to "Edit Posting", edit_job_path(@job), class: "btn btn-sm btn-success" %> </li>
		<li><%= link_to "Return to Jobs Board", jobs_path, class: "btn btn-sm btn-info" %> </li>
		<li><%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %> </li>
		</ul>

	</div>
</div>