<div class="container fill">
	<div class="text-center margin_sign">
		<h2>Organization Log In</h2>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-inputs">
							  	
						  	<div class="form-group">
						  	<%= f.label :email, "Email" %>
						    <%= f.text_field :email, required: false, autofocus: true, class: "form-control" %>
						    </div>

						    <div class="form-group">
						    <%= f.label :password, "Password" %>
						    <%= f.password_field :password, required: false, class: "form-control" %>
						    </div>

						    <div class="form-group">
						    <%= f.label :remember_me, "Remember Me" %> <br/>
						    <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
						    </div>

						 </div>

						 <div class="form-actions">
						    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
						 </div>

						<% end %>
					</div>
				</div>
				<%= render "orgs/shared/links" %>
			</div>
		</div>
	</div>
</div>