<div class="container">

  <h2>Edit Your <%= resource_name.to_s.humanize %> Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :company, "Company Name" %>
                <%= f.text_field :company, required: true, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :contactname, "Contact Name" %>
                <%= f.text_field :contactname, required: true, autofocus: true, class: "form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <div class="form-group">
              <%= f.label :password, "Password" %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Leave It Blank If You Don't Want To Change It", required: false, class: "form-control" %>
              </div>

              <div class="form-group">
              <%= f.label :password_confirmation, "Password Confirmation" %> 
              <%= f.password_field :password_confirmation, required: false, class: "form-control" %>
              </div>

              </div>
              <div class="form-group">
                <%= f.label :email, "Email" %>
                <%= f.email_field :email, required: true, class: "form-control" %>
              </div>
              <div class="form-group">  
                <%= f.label :city, "City" %>
                <%= f.text_field :city, required: true, class: "form-control" %> 
              </div>

              <div class="form-group">
                <%= f.label :state, "State" %>
                <%= f.text_field :state, required: true, class: "form-control" %> 
              </div>

              <div class="form-group">
                <%= f.label :phone, "Phone Number" %>
                <%= f.text_field :phone, required: false, class: "form-control" %> 
              </div>

              <div class="form-group">
                <%= f.label :current_password, "Enter Your Password To Confirm Changes" %>
                <%= f.password_field :current_password, placeholder: "We Need Your Current Password To Confirm Your Changes", required: true, class: "form-control" %>
              </div>
              <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>