<!DOCTYPE html>
<html>
<head>
  <title>Troops To Trade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="navbar-brand">Troops To Trade</li>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About', main_about_path %></li>
				<li><%= link_to 'Pricing', main_pricing_path %></li>
				<li><%= link_to 'Volunteer', main_volunteer_path %></li>
				<li><%= link_to 'Contact', main_contact_path %></li>
				<% if user_signed_in? %>
	  			<li><%= link_to 'View My Profile', main_profile_path, :class => 'navbar-link' %></li>
				<% elsif org_signed_in?%>
				<li><%= link_to 'Submit A Job Posting', jobs_new_path, :class => 'navbar-link' %></li>
				<li><%= link_to 'Candidate Database', main_database_path, :class => 'navbar-link' %></li>
				<% end %>

			</ul>
			<p class="navbar-text pull-right">
				<% if user_signed_in? %>
	 			 Logged in as <strong><%= current_user.name %> |</strong>
	  				<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> |
	  				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	  			<% elsif org_signed_in? %>
	  				Logged in as <strong><%= current_org.contactname %> |</strong>
	  				<%= link_to 'Edit Profile', edit_org_registration_path, :class => 'navbar-link' %> |
	  				<%= link_to "Logout", destroy_org_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
	  				<%= link_to "Sign up", main_login_path, :class => 'navbar-link'  %> |
	  				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</p>
		</div>
	</div>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info overlay col-md-12") %>
	<% end %>

	<%= yield %>

	<footer id="footer">
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<%= image_tag("sidelogo.png", alt:"NEI Logo", class: "foot-logo") %>
					</div>
					<div class="col-md-offset-3 col-md-5">
						<ul class="list-unstyled text-left">
							<li><i class="icon-map-marker"></i><strong>Address:</strong> 1200
							18th Street<br/> Washington DC 20036
							<li><i class="icon-phone"></i><strong>Phone:</strong> (202) 466-0222</li>
							<li><i class="icon-envelope"></i><strong>Email:</strong><a href="mailto:nei@ncbfaa.org?Subject=Troops%20To%20Trade"> nei@ncbfaa.org</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
<script type="text/javascript">$(".overlay").click(function() { 
	$('.overlay').fadeOut(500)});</script>
</html>
